/vendor

/node_modules

.env
.env.*
.phpunit.result.cache

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

.git
.gitignore

*.log
/storage/*.log
/storage/logs/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/*

.DS_Store
Thumbs.db

*.zip
*.tar
*.tar.gz
*.rar

*.bak
*.tmp
